<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--<system.runtime.serialization>
		<dataContractSerializer>
			<declaredTypes>
				<add type="KnownTypes.Messages.Message, KnownTypes">
					<knownType
						type="KnownTypes.Messages.ApplicationClosedMessage, KnownTypes"/>
				</add>
			</declaredTypes>
		</dataContractSerializer>
	</system.runtime.serialization>-->
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="debugBehavior">
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<client>
			<endpoint address="net.tcp://localhost:7113/MessageProcessor"
				 binding="netTcpBinding"
				 contract="KnownTypes.Contracts.IMessageProcessor" />
		</client>
		<services>
			<service name="KnownTypes.Services.MessageProcessor"
				behaviorConfiguration="debugBehavior">
				<endpoint address="net.tcp://localhost:7113/MessageProcessor"
					binding="netTcpBinding"
					contract="KnownTypes.Contracts.IMessageProcessor" />
			</service>
		</services>
	</system.serviceModel>
</configuration>